.black-text {
    color: black !important;
}

.white-text {
    color: white !important;
}

.ml-10 {
    margin-left: 1rem;
}

.mb-0 {
    margin-bottom: 0px;
}

.p-10 {
    padding: 1rem;
}

.pt-15 {
    padding-top: 1.5rem;
}

.headline {
    font-size: 24px !important;
    line-height: 32px !important;
    font-weight: 400 !important;
}

.v-icon {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    font-size: 24px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1;
    -webkit-transition: .3s cubic-bezier(.25,.8,.5,1);
    transition: .3s cubic-bezier(.25,.8,.5,1);
    vertical-align: text-bottom;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

.indigo-text {
    color: #3f51b5!important;
    caret-color: #3f51b5!important;
}